@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #cc7eb1;			//文字色
	background-color: #fef4f4	//背景色
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}

/* フッター
------------------------------------------------------------*/
#footer{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
	color: #000000;
}

/* 共通
------------------------------------------------------------*/
h1, h2{
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

img{
	max-width: 100%;
	height: auto;
}

section{
  clear: both;
}

section h1{
	width: 30%;
	margin: 5px auto;
	font-size: 18px;
	font-weight:normal;
	text-align: center;
}

section h2{
	width: 60%;
	margin: 70px auto;
	font-size: 22px;
	font-weight:normal;
	text-align: center;
}

section h2 span {
	padding-bottom: 20px;
	border-bottom: 3px solid #191970;
}

.inner{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;

}

#sec03 .inner, #sec04 .inner{
	border-bottom: 0px solid #191970;
}

.innerS{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 80px;
}

.text{
color: #000000;
}
/* SEC01 Gallery
------------------------------------------------------------*/
#sec01{
	padding: 0 !important;
}


/* SEC02 Gallery
------------------------------------------------------------*/
#sec02{
	padding: 0 !important;
}

#sec02 header{
	display: none;
}

.logo{
color: #000000;
}

/* SEC03 BRAND
------------------------------------------------------------*/
#sec03{
	padding-bottom: 0 !important;
}
.col4 .img{
	margin: 0 auto;
}
img.set{
    width: 45%;
    height: 180px;
    margin: 12px;
    -o-object-fit: contain;
    object-fit: contain;
}


/* SEC04 PROJECT
------------------------------------------------------------*/
#sec04{
	padding-bottom: 0 !important;
}

.article{
	clear: both;
	overflow: hidden;
	padding-bottom: 50px;
}

.article img{
	float: left;
	margin: 5px 20px 20px;
}

.article p{
	margin-bottom: 20px;
}


td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;

		margin-top:30px;
		margin-right:30px;
		margin-bottom:30px;
		margin-left:30px;
}


/* RESPONSIVE 設定
------------------------------------------------------------*/

@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}

	#wrapper{
		width: 100%;
	}

	#content{
		width: 80%;
	}



  a#menu{
		display:none;
	}

	.panel{
		display:block !important;
	}



	#mainnav li{
		font-size: 14px;
		padding: 10px 0;
	}

	#sns{
		margin-top: 50px;
	}

	#sns li{
		display: inline-block;
		padding-right: 10px;
	}

	#sns a:hover img{
		opacity: .8;
	}

	/* SEC03 BRAND
	-----------------*/
	.col4 li{
		display: inline-block;
		width: 18%;
		padding: 0 3%;
		vertical-align: top;
		text-align: center;
	}

  #footer{
		padding: 30px 10px 70px 0;
	}
}


@media only screen and (min-width: 641px){
	.col2 li{
		width: 60%;
		vertical-align: top;
	}
	.col2 li:first-child{
		width: 35%;
		padding-right: 4%;
	}
}

@media only screen and (max-width: 640px){
	.innerS{
		width: 94%;
		padding-bottom: 30px;
	}

@media only screen and (max-width: 799px){

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -10px;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #000;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display: block
		;
		padding: 15px 25px;
		border-bottom: 1px solid #ccc;
		color: #fff;
		font-weight: 400;
	}
	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#mainnav #sns li{
		display: inline-block;
	}
	#mainnav #sns li a{
		position: relative;
		display: inline-block;
		padding: 15px 10px 0;
		border: 0;
	}
	#mainnav #sns li a:before{
		border: 0;
	}
	.col4 li{
		margin: 0 auto 50px;
		display: block;
		text-align: center;
	}
	section h2{
		margin: 55px auto;
	}
}
